/* FIM GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgba(89, 87, 154, 0.269);
}


/* menu */
.menu-degrade{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, rgb(14, 14, 20), rgb(151, 130, 91), rgb(84, 53, 53),rgb(41, 6, 6));
    background-size: 500% 100%;
    animation: menu 5s infinite alternate;
    padding: 40px 4%;
}
.menu-degrade a{
    color:rgb(15, 16, 16);
    font-weight:bold;
    margin: 10px;
}
@keyframes menu {
    0%{
        background-position-x:0%;
    }
    100%{
        background-position-x:100% ;
    }
}

/* fim menu */

/* introducao */
.padrao{
    max-width: 1280px;
    margin: 0 auto; 
}

.flex{
    display: flex;
}
.introducao div{
    margin: 20px 6%;
    padding: 10px 40px;
    width: 550px;
}


section .txt-intro{
    color: #5c3838;
    padding-left: 200px; 

}
.introducao img{
   height: 520px;
}