/* GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgba(66, 64, 114, 0.269);
}

/* FIM GERAL */


/* introducao */
.introducao{
    background-color: aqua;
    border-radius: 10px;
    border-bottom-right-radius: 15px;
}

/* fim introducao */



/* introducao2 */

.introducao2{
    margin-top: 100px;
}

.introducao2 img{
   height: 520px;
} 


section .txt-intro2
{
    color: #c31b1b; 
}

/* fim introducao2 */

.container{
    padding-top: 25px;
}

